{
  "plugins": ["react", "prettier", "react-native"],
  "extends": ["prettier", "plugin:react/recommended", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "react-native/react-native": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./packages/mobile/src"],
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {}
      }
    }
  }
}
